<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../static/styles.css">
    <title>Counter</title>
</head>
<body>
	<header>
		<h1>Test the Github API</h1>
		<a href="/" class="header-link">Return back to the word counter!</a>
	</header>
	<div class = "ghmain">
		<h2>Check out a Github user</h2>
            <form method="post" action="/githubapi">
                <div class="ghinput-row">
					<input type="text" placeholder="Enter Github username" name="ghusername" class="ghinput">
					<button type="submit" class="ghsearch">
					</button>
				</div>
            </form>
			
        {% if username %}
		
            <div class="result-content">
				<h2>Showing result for Github user {{username}}</h2>
				
							<table>
								<tr>
									<th>Repo name</th>
									<th>Last updated</th>
									<th>Last commit hash</th>
									<th>Commit author</th>
									<th>Commit message</th>
									<th>URL</th>
								</tr>
				
								{% for row in data %}
								<tr>
									<td>
										{{row['repo_name']}}
									</td>
									<td>
										{{row['updated_at']}}
									</td>
									<td>
										{{row['hash']}}
									</td>
									<td>
										{{row['author']}}
									</td>
									<td>
										{{row['message']}}
									</td>
									<td>
										{{row['url']}}
									</td>
								</tr>
								{% endfor %}
				
							</table>
			</div>
        {% endif %}
		</div>
	<footer>
		&copy; Palmwi2010 as part of Software Systems Engineering.
	</footer>
</body>
